.userWidget{
    display:flex;
    flex-direction: row;
    height:100%;
    width:80%;
}

.userWidget img{
    box-sizing: border-box;
    margin: 10% 0 0px 5%;
    height: 80%;
    width:25%;
}

.userdetails{
    margin: 15% 0 0 10%;
    font-size: 85%;
}

.genreGridtemplate{
    height:50%;
    width:100%;
}
.genreGrid{
    /* flex-wrap:wrap; */
    display: flex;
    flex-wrap:wrap;
    height:30%;
    width:100%;
}

.pill{
    height:35px;
    width: 30%;
    background-color: #9F94FF;
    margin:3% 3% 3% 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:30px;
}