@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.page{
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: row;
}

.left{
    width:35%;
    height:100%;
    margin: 5% 5% 0 5%;
    /* display: flex;
    flex-direction: column; */

}
.left h1{
    font-size: 3rem;
    color:white;
    width:80%;
}
.left h2{
    color:#72DB73;
    font-family: "Single Day", cursive;
    font-size: 3rem;
    margin-bottom:10%;
    
}

.right{
    width:65%;
    height:100%
}

.genreGrid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    color:white;
    margin-top: 7%;
    margin-right:20%;

}

.Genrecard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width:230px;
    border-radius: 20px;
    margin:10px;
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
}

.nxtpage{
    all:unset;
    text-align: center;
    color:white;
    background-color: #148A08;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    font-size: 1.4rem;
    position: absolute;
    right:8%;
    bottom: 5%;
}

.selectedgenre{
    color:white;
    background-color:#148A08;
    font-size: 1.3rem;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.selectedgenre button{
    all:unset;
    color:black;
    position: relative;
    right: -80px;
}
.slgenres{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.warning{
    font-size: 1.5rem;
    color:red;
    padding-top: 20px;
    margin:10px;
}

.color1{
    background-color: #FF5209,
}

.color2{
    background-color:#D7A4FF,
}

.color3{
    background-color:#148A08 ;
}
.color4{
    background-color:#84C2FF ,
}

.color5{
    background-color:#902500 ;
}

.color6{
    background-color: #7358FF;
}

.color7{
    background-color: #FF4ADE;
}

.color8{
    background-color: #E61E32 ;
}

.color9{
    background-color: #6CD061;
}