@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.page1{
    display:flex;
    flex-direction: row;
    height:100vh;
    width:100vw;
    font-family: "Roboto", sans-serif;

}

.left{
    display: flex;
    flex-direction: column;
    width:55%;
    height:100%;
    margin-right:80px;
    
}

.userWidget{
    background-color: #5746EA;
    width:85%;
    height:48%;
    color:white;
    margin: 50px 0 50px 80px;
    border-radius: 20px;


}
.right1{
    width:30%;
    height:80%;
    margin:50px 100px 0px 0;
}
.weather1{
    width:85%;
    height:30%;
    margin-left:80px;
}
